.chatCont {
  // width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: red;
}
.messagesContainer {
  background-color: #d3d3d3;
  // width: auto;
  height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.formContainer {
  background-color: #fff;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: space-evenly;
  width: 100em;
}

.input {
  border-radius: 50px;
  outline: none;
  margin: 10px;
  height: 3em;
  width: 80%;
  border: #d3d3d3 1px solid;
}

.btn {
  height: 3em;
  width: 5em;
  align-self: center;
  border-radius: 1em;
  border: none;
}
