.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
  padding: 1em;
  background: linear-gradient(
    90deg,
    rgba(144, 33, 40, 1) 0%,
    rgba(214, 18, 26, 1) 44%
  );
  height: 50%;
  img {
    width: 15%;
    margin-right: 1em;
  }
  p {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    display: swap;
  }
}
.closeSidebar {
  display: none;
}

@media (max-width: 990px) {
  .closeSidebar {
    display: flex;
    color: white;
    width: 1.5em;
    height: 1.5em;
    margin-left: 2em;
  }
}
