@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

$font: "Montserrat";
@mixin text {
  height: auto;
  width: auto;
  overflow: hidden;
  // position: relative;
  white-space: normal;
  font-weight: bold;
  max-width: 40%;
  padding: 1em;
  margin-top: 1em;
  // background-color: #eee;
  border-radius: 5px;
}

@mixin msjContainers {
  display: flex;
  position: relative;
  margin: 1em;
  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
}

.mjs {
  width: auto;
}
.messageContainer {
  @include msjContainers();
  p {
    @include text();
    background-color: #eee;
    margin-left: 1em;
  }
  .msjHourContact {
    // display: flex;
    background-color: transparent;
    position: absolute;
    top: -2em;
    // margin-right: 100px;
    // margin-right: 10;
    margin-left: -20px;
    font-family: $font;
    font-size: x-small;
  }
  .msjHourContact::after {
    // content: normal;
    display: none;
  }
}
.messageContainer.arrow-left::after {
  content: " ";
  position: absolute;
  //
  left: 4.5em;
  top: 22px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid #eee;
  border-left: 15px solid #eee;
  transform: rotate(50deg);
}

.msjUser {
  @include msjContainers();
  flex-direction: row-reverse;
  font-family: $font;
  // font-size: x-small;
  p {
    @include text();
    overflow-wrap: break-word;
    margin-right: 1em;
    font-size: medium;
    background-color: #fde5e5;
    // overflow: hidden;
    white-space: normal;
  }
  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
  .msjHour {
    // display: flex;
    background-color: transparent;
    position: absolute;
    top: -2em;
    margin-left: -15px;
    font-family: $font;
    font-size: x-small;
  }
  .msjHour::after {
    // content: normal;
    display: none;
  }
}
.msjUser.arrow-right ::after {
  content: " ";
  position: absolute;
  //
  right: 4.5em;
  top: 21px;
  border-top: 15px solid #fde5e5;
  border-right: 15px solid #fde5e5;
  border-bottom: 10px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(40deg);
}
