.mjs {
  width: auto;
}
.messageContainer {
  //   background-color: honeydew;
  display: flex;
  // width: auto;
  margin: 1em;
  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
  p {
    height: auto;
    width: auto;
    overflow: hidden;
    white-space: normal;
    max-width: 40%;
    padding: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    background-color: #eee;
    border-radius: 50px;
    border: 1px black solid;
  }
}

.msjUser {
  display: flex;
  //   justify-content: flex-end;
  flex-direction: row-reverse;
  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
  p {
    width: auto;
    height: auto;
    max-width: 40%;
    white-space: nowrap;
    overflow-wrap: break-word;

    overflow: hidden;
    white-space: normal;
    padding: 1em;
    margin-top: 0;
    margin-right: 0.5em;
    background-color: #eee;
    border-radius: 50px;
    border: 1px black solid;
  }
}
